<%- layout('layout') %>

<h3 style="position: absolute; left: 20%; top: 22%;">
  출품중
</h3>

<div style="position: absolute; left: 20%; top: 30%;" class="main" style="overflow: hidden;">
  <div class="row">
    <% result.forEach(function(i) { %>
      <div class="col-sm-5 col-md-3">
        <div class="thumbnail"">
          <img src="/images/<%= i.image %>" style="width:150px; height:150px; object-fit:cover;">
          <div class="caption">
            <h3><a href="/product/<%= i.id %>"><%= i.title %></a></h3>
            <p><%= i.category %></p>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>

<div class="paging">
  <% for(var i = 1; i <= pagination; i++){ %>
    <a href="/nowsell?page=<%= i %>"><%= i %></a>
  <% } %>
</div>

<style media="screen">
  .paging {
    position: absolute;
    left: 50%;
    top: 98%;
  }
</style>
